<div class="full-page">
    <mat-card class="home-container">
      <mat-card-header>
        <mat-card-title>FaceTrace modified</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Detect people on images</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" routerLink="/register">Register</button>
        <button mat-stroked-button color="accent" routerLink="/login">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
  