.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }