<app-navbar></app-navbar>
<div class="change-password-container">
    <mat-card>
      <mat-card-title>Change Password</mat-card-title>
      <mat-card-content>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="currentPassword" />
            <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid">
              Current password is required
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" />
            <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid">
              New password must be at least 8 characters
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" />
            <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.invalid">
              Passwords must match
            </mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="onCancel()">
              Cancel
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid" (click)="onSubmit()">
              Save Changes
            </button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  